@use '../abstracts' as a;

.bobaCon {
    margin: 20px;
    background-color: #61B1AE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}



// .bobaRecipe {
//     list-style-image: url(../images/8864305.png) no-repeat center;
//     padding: 0;
// }

// .bobaRecipe li {
//     margin-bottom: 5px;
//     list-style-image: url(../images/8864305.png) no-repeat center;
// }

html, body {
    height: 100%;
    margin: 0;
    
}
  
.bobaCon {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}