@use '../abstracts' as a;

.bobaCon {
    margin: 20px;
    // padding: 40px;
    border: 1px solid a.$primary-color;
    border-radius: 5px;
    background-color: a.$accent-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}



.bobaRecipe {
    list-style-type: disc;
    padding: 0;
}

.bobaRecipe li {
    margin-bottom: 5px;
}