@use '../abstracts' as a;

#body {
    background-color: a.$primary-color;
}

.emotionimg {
    width: 270px;
}

@media screen and (min-width: 1200px) {
    .emotionimg {
        width: 200px;
    }

}

@media screen and (min-width: 768px) {
    .emotionimg {
        width: 200px;
    }

}



//styles for the boba boxes

/* main.css */
.bobaCon {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    grid-row: 1/2;

    .button {
        grid-column: 6/8;
        padding: 10px 20px;
        background-color: #fff;
        color: #ff9800;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bolder;
        height: 43px;
        font-size: 15px;
        margin-top: -50%;
            &:hover {
            background-color: #ffa726;
            color: #fff;
        }
    }

    .bbutton {
        grid-column: 8/10;
        padding: 10px 20px;
        background-color: #fff ;
        color: #ff9800;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: 43px;
        font-weight: bolder;
        font-size: 15px;
        margin-top: -50%;
       
        &:hover {
            background-color: #ffa726;
            color: #fff;
        }
    }
}

.bobaImg {
    grid-column: 2/4;
    max-width: 200%;
    height: auto;
    margin: 10px;
    grid-row: 1/3;
}

.bobaQuote {
    grid-column: 6/11;
    margin-bottom: 10px;
    grid-row: 1/3;
    margin-top: 24%;
    font-size: 30px;
}

.bobaName {
    color: a.$primary-color;
    margin-bottom: 10px;
    grid-column: 6/10;
    text-align: center;
    grid-row: 1/3;
    margin-top: 45%;
    font-size: 60px;
    letter-spacing: 2px;

}

.bobaRecipe {
    grid-column: 6/12;
    grid-row: 2/3;
    margin-bottom: 114px;
    line-height: 2;

}

.bobaRecipe li {
    margin-bottom: 5px;
    font-size: 16px;
}




