@use '../abstracts' as a;

#body {
    background-color: a.$primary-color;
}

.emotionimg {
    width: 270px;
}

@media screen and (min-width: 1200px) {
    .emotionimg {
        width: 200px;
    }

}

@media screen and (min-width: 768px) {
    .emotionimg {
        width: 200px;
    }

}