@use '../abstracts' as a;

header {
    position: absolute;
    z-index: 2;
    // background-color: a.$accent-color;
    #header {
        height: fit-content;
    }

    a img {
        height: 71%;
        margin: 6px 6px 8px 11px; 
    }
}


#Nav-Desktop button {
    width: 79px;
    height: 18px;
    background: url(../images/moblie.svg) no-repeat center;
    margin-top: 20px;
    margin-left: 20px;
    transition: all .5s ease;
    border: 0;
}


#Nav-Deskop {
    margin-top: 3px;
    margin-left: 11px;
}


#Nav-Desktop button.expanded {
    transform: rotate(90deg);
}

#burger-con {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
    position: absolute;
    height: 306px;
    z-index: 1;
    // background: linear-gradient(0deg, a.$hover-color, a.$primary-color);
}

#burger-con.slide-toggle {
    display: block;
    left: 0;
    right: 0;
}

#burger-con ul li {
    margin-bottom: 10px;
    font-size: 21px;
}

#burger-con ul {
    padding-left: 0;
}


#burger-con ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: a.$text-color;
    text-decoration: none;
    font-family: a.$text-font-family;
}

#burger-con ul li a:hover {
    color: a.$accent-color;
    font-family: a.$heading-font-family;
    font-size: 23px;
}

@media screen and (min-width: 768px) {

    #Nav-Desktop button {
        display: none;

    }

    #header img {
        height: 100%;
        margin-top: 15px;
        margin-left: 17px;
    }
    
    #burger-con {
        display: contents;
        position: relative;
        height: 0;

        ul li a {
            display: inline;
        }
    }


    #Nav-Desktop {
        margin-top: 53px;
        background-color: a.$accent-color;
        padding-left: 43px;
        padding-top: 4px;
        margin-top: 10px;
        height: 70px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin-right: 4px;

        ul li {
            display: inline;
            margin-right: 8px;
        }

        ul li a:hover {
            letter-spacing: .5px;
            font-size: 21px;
        }
    }

}
@media screen and (min-width: 1200px) {
    #Nav-Desktop { 
        margin-right: -12px;
        margin-left: 36px;
    }        

}
@media screen and (min-width: 1920px) {
    #Nav-Desktop { 
        margin-right: 3px;
        padding-left: 64px;
        margin-left: 157px;
    }       

}